/*COLOR-BLUE-HEX-CODE*/
$color-light-blue-1: #5c5cff;
$color-light-blue-2: #0000d1;
$color-light-blue-3: #000075;

/*COLOR-BROWN-HEX-CODE*/
$color-light-brown-1: #ffa74f;
$color-light-brown-2: #f27900;
$color-light-brown-3: #964b00;

/*COLOR-GREEN-HEX-CODE*/
$color-light-green-1: #2eff2e;
$color-light-green-2: #00d100;
$color-light-green-3: #007500;

/*COLOR-HEX*/
$color-white: #ffffff;
$color-black: #000000;
